.menu-lateral {
    display: none;
}

.menu-lateral__label {
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.menu-lateral__item{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu-lateral__imagem__codigo {
    background: var(--cor-menu-lateral--pressed);
    border-radius: 16px;
    padding: 0.7rem;
}

.menu-lateral__imagem__comunidade {
    background: var(--cor-menu-lateral);
    border-radius: 16px;
    padding: 0.7rem;
}

.menu-lateral__imagem__codigo:hover {
    background: var(--cor-menu-lateral--hover);
}

.menu-lateral__imagem__comunidade:hover {
    background: var(--cor-menu-lateral--hover);
}

.menu-lateral__imagem__codigo:active {
    background: var(--cor-menu-lateral--pressed);
}

.menu-lateral__imagem__comunidade:active {
    background: var(--cor-menu-lateral--pressed);
}

.menu-lateral__texto__codigo {
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
}

.menu-lateral__texto__comunidade {
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
    opacity: 56%;
}

.menu-lateral__texto__codigo:hover {
    opacity: 72%;
}

.menu-lateral__texto__comunidade:hover {
    opacity: 72%;
}

.menu-lateral__texto__codigo:active {
    opacity: 100%;
}

.menu-lateral__texto__comunidade:active {
    opacity: 100%;
}

@media screen and (min-width: 1440px) {

    .menu-lateral {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 300px;
    }

}