.botao__form {
        background-color: var(--cor-do-botao-salvar);
    border: none;
    border-radius: 8px;
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    margin-top: 1rem;
    padding: 1rem 0;
    width: 100%;
}

.botao__form:hover {
    background: var(--cor-do-botao-salvar-hover);
}

.botao__form:active {
    background: var(--cor-do-botao-salvar-pressed);
    border: var(--borda-do-botao-salvar-pressed);
}

.botao__form:focus {
    background: var(--cor-do-botao-salvar-focus);
    outline: none;
}